.TopFixBanner{
	background-image: url(../image/Banner.jpg);
	min-width: 100%;
	min-height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.TopBannerOverlay{
	position: absolute;
	min-height: 500px;
	min-width: 100%;
	background: rgba(0,0,0,0.7);
	
}
.TopContent{
	margin-top: 12rem;
	
}
.topPageCourseContent{
	margin-top:6rem; 
}
.courseFullTitle{
	color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 20px;
}
.cousreTotalLecture{
	color: white;
	font-family: 28px;
	font-weight: 600;
}
.courseDescrition{
	color: white;
	font-family: 14px;
	font-weight: 300;
}
.TopTitle{
font-family: 'Montserrat', sans-serif;
font-weight: 700;
color: white;
font-size:48px;
}
.TopSubTitle{
font-family: 'Raleway', sans-serif;
font-weight: 600;
color: white;
font-size: 22px;
}

.ServiceCard{
	margin: 5px 5px 5px 5px;
	height: 30rem;
	padding: 60px 30px 60px 30px;
	box-shadow: 0 0 4px 0 rgba(0,115,230,0.2);
	
}
.ServiceCard:hover{
	box-shadow: 0 0 50px 0 rgba(0,115,230,0.2);
	
}
.ServiceMainTitle{
	color: #0073E6;
	margin-top: 5rem;
	margin-bottom: 3rem;
	font-family: 'Montserrat', sans-serif;
	font-size: 28px;
	font-weight: 600;
}
.ServiveName{
	margin-top: 1rem;
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	font-weight: 600;
}

.ServiceDescription{
	margin-top: 1rem;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #7F7E7E;
	
}

.NavTitle{
	font-family: 'Montserrat', sans-serif;
	color:#ffffff !important;
	font-weight: 700;
	font-size: 24px;
	text-decoration: none;
}
.NavTitle:hover{
	text-decoration: none;
}

.NavTitleScrol{
	font-family: 'Montserrat', sans-serif;
	color:#0073e6 !important;
	font-weight: 700;
	font-size: 24px;
	text-decoration: none;
}
.NavTitleScrol:hover{
	text-decoration: none;
}
.nabBackrgound{
	background-color: rgba(00,00,00,0.0)!important;
	transition: background-color 400ms linear;
	-o-transition: background-color 400ms linear;
	-moz-transition: background-color 400ms linear;
	-webkit-transition: background-color 400ms linear;
}
.navBackroundScroll{
	background-color: #ffffff;
	transition: background-color 400ms linear;
	-o-transition: background-color 400ms linear;
	-moz-transition: background-color 400ms linear;
	-webkit-transition: background-color 400ms linear;
	box-shadow: 0 0 6px 0 rgba(0,115,230,0.3);
	
}
.navItem{
	font-size: 16px;
	text-decoration: none!important;
	font-family: sans-serif;
	font-weight: 400;
	color: #ffffff;
	
	
}
.navItemScroll{
	font-size: 16px;
	text-decoration: none!important;
	font-family: sans-serif;
	font-weight: 400;
	color: #000000 !important;
}
.chat_description{
	font-weight: 400;
	color:#000000;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
}

.SummaryBanner{
	background-image: url(../image/summary.png);
	min-width: 100%;
	min-height: 700px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
}
.SummaryBannerOverlay{
	position: absolute;
	min-height: 700px;
	min-width: 100%;
	background: rgba(0,0,0,0.7);
	
}
.SummarySection{
	margin-top: 5rem;
}
.countNumber{
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 48px;
	
}
.countTitle{
	color: #ffffff;
    font-family: 'Raleway', sans-serif;	
	font-weight: 600;
	font-size: 22px;

}
.countSection{
	margin: 20%;
}
.hr_1{
	margin-left:105px;
}
.cardTitle{
	font-family: 'Raleway', sans-serif;	
	color: #000000;
	font-size: 22px;
	font-weight: 600;
}
.cardSubTitle{
	
	font-family: 'Montserrat', sans-serif;
	color: #000000;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
}
.IconBullet{
	color: #0073E6;
	font-size: 16px;
	text-align: center;
}
.WorkCard{
	margin-top: 16%;
	padding: 10px;
	border-radius: 2px;

}
.ProjrctCard{
	border-radius: 2px;
	border: none!important;
	margin: 2px 2px 2px 2px;
	box-shadow: 0 0 4px 0 rgba(0,115,230,0.2);
	
	
}
.ProjrctCard:hover{
	box-shadow: 0 0 4px 0 rgba(0,115,230,0.2);
	
}



.ProjectCardTitle{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 600;
	
}
.ProjectCardDescription{
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-weight: 400;
}
.courseImgage{
	min-width: 100%;
}
.courseTitle{
	font-family: 'Montserrat', sans-serif;
	font-size:18px;
	font-weight: 600;
	text-align: left;
	margin-left:30px; 
}
.courseDescription{
	font-family: 'Raleway', sans-serif;	
	font-size: 14px;
	font-weight: 400;
	text-align: left;
	margin-left:30px; 
	margin-top:20px;
}
.courseDetails_a{
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 600;
	color: #0073E6;
	text-align: left;
	display: block;
	margin-left:30px; 
	 
}
.courseDetails_a:hover{
	text-decoration: none;
	color: orangered;
}

.VideoCard{
	box-shadow: 0 0 4px 0 rgba(0,115,230,0.2);
	padding: 5rem 3rem 6rem 3rem;
	background-color: white;
	margin:50px auto;
	
}
.PlatBtn{
	color: #0073E6;
	font-size: 48px;
	cursor: pointer;
}
.videoTitle{
	font-family: 'Montserrat', sans-serif;
	color:#0073E6;
	font-size: 22px;
	font-weight: 600;
}
.VideoDescrition{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

.CircleImg{
	margin: 0 auto;
	width: 100px;
	min-height: 100px;
	border: 1px solid #0073E6;
	border-radius: 50%;
}
.FooterSection{
	margin-top: 3rem;
	box-shadow: 0 0 10px 0 rgba(0,115,230,0.2);
	min-height: 100px;
	
}
.SocialLink{
	text-decoration: none;
	color: #0073e6;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 600;
}
.SocialLink:hover{
    text-decoration: none;
	color: yellowgreen;
}
.CopyRightSection{
	padding: 20px 20px 20px 20px;
	background-color: #0073e6;
}

.CopyRightLink{
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 14px;
	text-decoration: none;
}
.CopyRightLink:hover{
	color: black;
}


.TopFixPageAbout{
	background-image: url(../image/Banner.jpg);
	min-width: 100%;
	min-height: 280px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.TopBannerAboutOverlay{
	position: absolute;
	min-height: 280px;
	min-width: 100%;
	background: rgba(0,0,0,0.7);
	
}
.TopContentAbout{
	margin-top: 9rem;
	
}

.TopSubTitleAbout{
font-family: 'Raleway', sans-serif;
font-weight: 600;
color: white;
font-size: 28px;
}
.form-control:focus{
	border-radius: 2px !important;
	border-color: #0073E6 !important;
	box-shadow: 0 0 10px 0 rgba(0,115,230,0.2)!important;
}
.marginIs{
	margin-top: 30px;
}
.link-style{
	color: white !important;
	text-decoration: none !important;
}
.link-style:hover{
	color: white !important;
	text-decoration: none !important;
}
.projectDetailsImg{
	width:300px;
	height: 300px;
}
.imgStyle{
	width: 300px;
	height: 300px;
	
}